@use '../abstracts' as *;
@use '../base/typography' as typo;

#features {
    padding: 0 24px;
    margin-bottom: 160px;
    display: grid;
    gap: 80px;
    @include respond(small, min) {
        grid-template-columns: 1fr 1fr;
        gap: unset;
        row-gap: 72px;
        column-gap: 80px;
        padding: 0 54px;
        align-items: start;
        margin-bottom: 120px;
    }
    @include respond(large, min) {
        max-width: 907px;
        margin: 0 auto;
        margin-bottom: 146px;
    }
}

.feature-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.feature-card p {
    @include text-preset(typo.$text-preset-8);
}

.icon-wrapper {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    align-self: center;
    @include respond(small, min) {
        margin-bottom: 8px;
        width: 104px;
        height: 104px;
    }
}