@use '../abstracts' as *;
@use '../base/typography' as typo;

#testimonials {
    padding: 0 48px;
    margin-bottom: 328px;
    display: grid;
    gap: 24px;
    position: relative;
    @include respond(small, min) {
        padding: 0 118px;
        gap: 40px;
        margin-bottom: 258px;
    }
    @include respond(large, min) {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1228px;
        padding: 0 24px;
        margin: 0 auto;
        margin-bottom: 398px;
    }
}

.quotes {
    position: absolute;
    display: block;
    width: 32px;
    left: 58px;
    top: -20px;
    z-index: 1;
    @include respond(small, min) {
        width: 55px;
        top: -35px;
        left: 104px;
    }
    @include respond(large, min) {
        left: 14px;
    }
}

.testimonial-card {
    background-color: $clr-testimonial-bg;
    padding: 24px;
    border-radius: 4px;
    display: grid;
    gap: 16px;
    box-shadow: 0 0 8px 4px hsla(0, 0%, 22%, 0.046);
    @include text-preset(typo.$text-preset-9-regular);
    z-index: 10;
    @include respond(small, min) {
        padding: 40px;
        @include text-preset(typo.$text-preset-8);
    }
}

.author {
    display: flex;
    align-items: center;
    gap: 8px;
}

.author-details {
    display: grid;
}

.name {
    @include text-preset(typo.$text-preset-9-bold);
}

.position {
    @include text-preset(typo.$text-preset-10);
}