// COLOR PALETTE
$white: #ffffff;
$black: #000000;
$navy950: #0B1524;
$navy900: #181F2B;
$navy850: #1B2330;
$navy800: #202A3C;
$navy50: #DFE4F0;
$blue300: #62E0D9;
$blue250: #8ADAE3;
$red: #FF4242;
$gray400: #C0C0C0;

// SEMANTIC VALUES

$clr-placeholder: $gray400;
$clr-error: $red;
$clr-btn-hover: $blue250;
$clr-link-hover: $blue300;
$clr-social-circle: $navy50;
$clr-testimonial-bg: $navy800;
$clr-cta-bg: $navy850;
$clr-body-bg: $navy900;
$clr-footer-bg: $navy950;
$clr-header-bg: $navy850;
$clr-body-text: $white;